:root {
  --header-height: 3rem;

  --default-color: #fff;

  --normal-font-size: 0.938rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --text-color: #000;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: sans-serif;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--default-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p 
{
  margin: 0;
}

h2,
h3 
{
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}